{% extends "base.html" %}
{% load typogrify %}

{% block body_class %}sponsorship{% endblock %}


{% block content %}
  <ul class="sponsor-list">
  {% for sponsor in object_list %}
    <li>
      <h3>
          <a href="{{ sponsor.website }}">{{ sponsor.name }}</a>
      </h3>
      {% if sponsor.logo %}
        <a href="{{ sponsor.website }}">
            <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }} logo" width="80px" />
        </a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
